* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F55A5A;
    padding: 20px 36px;
    color:#FFFFFF;
}
/*section2*/
.card {
    display: flex;
    height: 300px;
    width: auto;
    padding: 20px 36px;
}
.card--image {
    height: 168px;
    width: 126px;
}

.card--side {
    width: auto;
    height: 144px;
    padding: 20px 20px;
}

.card--stats {
    
}

